*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{ 
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
}    

    .navbar .container-fluid{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: space-between;
    }
    .navbar-brand .logo{
        width: 150px;
        margin-right: 150px;
    }
    .navbar-nav{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .nav-link{
        padding: 0 30px;
        text-decoration: none;
        color: #4E87F7;
        font-weight: 600;
    }
    .navbar-nav .button_log{
        width: 150px;
        height: 43px;
        border-radius: 20px;
        background-color: #00a2ff;
        border: none;
        color: #060F6F;
        font-weight: 600;
        border-radius: 20px;
        margin-right: 10px;
    }
    
    .button{
        width: 215px;
        height: 43px;
        padding: 0 64px;
        border-radius: 20px;
        background-color: #4EF7BA;
        border: none;
        color: #060F6F;
        font-weight: 600;
        border-radius: 20px;
    }

    @media only screen and (min-width: 1080px) {
        .container{
            width: 100%;
        }
        .container-fluid{
            width: 100%;
            max-width: 1024px !important;
        }
    }